@import url('https://fonts.googleapis.com/css?family=Quicksand')

html, body{
    width: 100%;
    height: 100%;
    font-family:'Quicksand';
    font-size: 120px;
}
.navbar{
    background-color:rgba(118, 209, 118, 0.9) !important ;
}
.navbar li a{
    color:white !important;
}
.navbar li a:hover{
	color:black !important;
	background-color:rgba(224, 231, 224, 0.5) ;
	border-radius: 8px;
}
.carousel-inner img{
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    bottom: 25%;
    background-color: rgba(41, 38, 38, 0.2);
    border: 4px solid rgba(41, 38, 38, 0) ;
    border-radius: 16px  ;
}
.carousel-caption h1{
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px black;
}
.carousel-caption h3{
    font-size: 200%;
    text-shadow: 5px 5px 15px black;
}
.btn-primary{
    background-color: rgb(105, 177, 105);
    border: 1px solid white
}
.btn-primary:hover{
    background-color: rgb(73, 133, 73);
    border: 1px solid white
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
hr{
    border-top: 2px solid rgb(105, 177, 105, 0.6);
    width: 95%;
    margin-bottom: 2rem;
}
#col2{
    border-left: 2px solid rgb(105, 177, 105, 0.6);
	border-right: 2px solid rgb(105, 177, 105, 0.6);
}
#col2 a:hover{
	background-color:rgba(200, 214, 200, 0.9) ;
}
.social{
    font-size: 36px;
    padding: 12px; 
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;	
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
.Search{
	padding-left: 48px;
}
.dropdown-menu{
	background-color: rgba(118, 209, 118, 0.9) ;
}
.dropdown-menu a:hover{
	background-color: rgba(195, 216, 195, 0.9)
}
.form-group{
	color:white;
}
.form-check{
	color:white;
}
.videostudent{
	float: left;
}
.col h1{
	font-size: 32px;
	border-bottom: 2px solid  rgba(118, 209, 118, 0.9) ;
	border-bottom-style: dotted ;
	padding: 10px;
}
.col{
	width: 100%;
	padding: 12px;
}
.col button:hover{
	background-color:rgba(108, 155, 108, 0.9) ;
}
.jumbotron button:hover{
	background-color:rgba(108, 155, 108, 0.9) ;
}





/*Media Query*/
@media (max-width: 992px){
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 250%;
	}
	.carousel-caption h3{		
		font-size: 160%;		
	}
	.carousel-caption .btn{		
		font-size: 120%;		
	}
}
@media (max-width: 768px){	
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 220%;
	}
	.carousel-caption h3{		
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		font-size: 95%;
		padding: 8px 14px;
	}
}
@media (max-width: 576px){
	.carousel-caption {
		top: 10%;
	}
	.carousel-caption h1{
		font-size: 150%;
	}
	.carousel-caption h3{		
		font-size: 110%;		
	}
	.carousel-caption .btn {		
		font-size: 90%;
		padding: 4px 8px;
	}	
}
